/* 
Author: Hlib Marchenko
ID: 100901448
Filename: style.css
Date: 21 Feb 2024
Description: Css responsible proper display of the pages.
 */
body {
    background: linear-gradient(0deg, #5dd6cf 0%, #de35ec 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.container { 
    display: grid;
    column-gap: 5px;    
    /* place-items: center; */
    min-height: 81.2vh;
    }
.blog-main {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
}
.greeter {
    display: grid;
    column-gap: 5px;    
    min-height: 81.2vh;
}
.footer {
    position: sticky;
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 0; 
}
.text {
	font-family: "Yanone Kaffeesatz";
	font-size: 100px;
	display: flex;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	user-select: none;
    font-size: 72px;
    background: -webkit-linear-gradient(#94fffb , #f870ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text2 {
    font-family: "Yanone Kaffeesatz";
    padding-left: 20;
    padding-top: 50px;
    margin-right: auto;
    font-size: 100px;
	user-select: none;
    font-size: 72px;
    background: -webkit-linear-gradient(270deg, #94fffb, #f870ff );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
.text3 {
    font-family: "Yanone Kaffeesatz";
    margin-right: auto;
    margin-top: 8px;
    font-size: 25px;
	user-select: none;
    background: -webkit-linear-gradient(270deg, #94fffb, #f86bff 40px);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;   
}
.textWhite{
    color: rgb(169, 169, 169);
    font-weight:500;
    cursor: pointer;
}
.img
{ 
    padding-top: auto;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
	width: 300px;    
    padding-top: 20px;
    max-width: 100%;
}

img {
    width: 150px;
}

h2 {
    align-items: right;
    background: -webkit-linear-gradient(#02b7ff 35%, #b9b112 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.welcome {
    align-self: center;
} 

.navbar-collapse {   
    text-align: right;
}

.error {
    color: red;
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: black;
}
.hidden {
    opacity: 0;
}

.show {
    opacity: 1;
    transition: all 1s;
}
.card {
    min-block-size: 250px;
}
.blog-image {
    min-height: 200px;
    max-height: 200px;
}