<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Hello from the Pokemon EJS </h1>
    <h2><%= pokemonDetails.name %></h2>
    <h2><%= pokemonDetails.type %></h2>
    <h2><%= pokemonDetails.skills %></h2>
</body>
</html>