#navbar {
    border: 3px solid blue;
    background-color: blue;
    padding: 10px;
    color: white;
    font-weight: bold;
}

#navbar ul {
    list-style-type: none;
    padding: 0;
}

#navbar li {
    display: inline;
    margin-right: 10px;
    cursor: pointer;
    font-size: 22px;
}

#navbar li:hover {
    background-color: green;
    border-radius: 15px;
    padding: 5px;
}

#content {
    margin: 20px;
}
.carousel {
    border: 3px solid blue;
    width: 80%;
    margin: 20px auto;
    position: relative;
}
.carousel-item {
    border: 2px solid red;
    text-align: center;
    display: none;
}
.carousel-item.active {
    display: block;
}
.carousel-control {
    border: 3px solid yellow;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 24px;
    color: white;
    background-color: blue;
    border-radius: 5px;
    padding: 3px 5px 3px 5px;
}

.image {
    height: 500px;
    background-size: cover;
}
.next {
    margin-left: 97.5%;
}